#nav
  background dark-grey
  color white
  width 300px
  height: 100%
  margin-left -550px
  z-index 200
  padding 1em 0
  text-align center
  #submitting
    margin medium 0 0 100px
    text-align center
    display none
    height 20px
    width 20px
  #add_source
    text-align left
    margin-left medium
    width 230px
    input[type='submit'], button
      margin-top medium
      width 100%
      font-size 80%
    button.success-message
      padding small
      height auto
      background blue
      color white
    button.error-message
      padding small
      height auto
      background orange
      color white
  .nav-inner
    possition relative
    width 50px
    float right
    height 100%
    .login
      bottom 0
      height 50%
      padding small 0 100px 0
      width 50px
      position absolute
      background green
      .login-icons
        position absolute
        bottom 95px
        width 100%
      a
        display block
        margin small 0
        color white
      h2
        color white
        text-transform uppercase
        position absolute
        bottom 40px
        left -12px
        margin 0 auto
        &.demo
          top 34px
          bottom auto
          height auto
  button
    padding 0
    width 30px
    height 30px
  h1
    margin-top 85px