// Colors
dark-grey  = #333
dark-gray  = #333
light-grey = #eee
light-gray = #999
white      = #eee
green      = #8FB299
dark-green = #649171
orange     = #C17036
blue       = #0078e7

// Typography
serif      = 'Playfair Display', 'serif'
sans-serif = 'Open Sans', 'sans-serif'

// Measurements
small = 5px
medium = 15px
large = 30px
